@import url('https://fonts.googleapis.com/css?family=Muli|Raleway:300,400,700');

// Colors
$color-primary: #F0DB4F;
$color-primary-light: #f4e57e;
$color-primary-dark: #ecd120;

$color-secondary: #2AA9D2;
$color-secondary-dark: #1874C3;

$color-grey: #616161;
$color-grey-light: #F7F7F7;
$color-grey-dark: #232422;
$color-grey-dark-2: #323330;

$color-white: #fff;
$color-black: #000;


// Font size
$default-font-size: 1.6rem;

// Fonts
$lato-font: 'Muli', sans-serif;
$raleway-font: 'Raleway', sans-serif;

// Grid
$grid-width: 114rem;
$gutter-vertical: 5rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 1.6rem;