.header-bar{
    display: block;
    margin-top: 1rem;
    margin-bottom: 5rem;
    width: 5.5rem;
    height: 3px;
    background-color: $color-grey-dark-2;

    &--contact {
        background-color: $color-white;
    }
}