.modal {
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 200;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity .3s, visibility .3s;

    &--open {
        visibility: visible;
        opacity: 1;
    }

    &__background {
        width: 100%;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.75);
    }

    &__card {
        position: absolute;
        display: flex;
        flex-direction:column; 
        border-radius: .5rem;
        width: 80%;
        max-width: 50rem;
        background-color: $color-grey-light;
    }

    &__close {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -1.5rem;
        right: -1.5rem;
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
        border-radius: 50%;
        background-color: $color-white;
        cursor: pointer;
    }

    &__header {
        width: 100%;
        overflow: hidden;
        flex: 0 1 auto;

        & > img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1;
        padding: 3rem 3rem 4rem;
        height: 100%;

        & hr{
            margin-bottom: 2rem;
        }
    }

    &__title {
        margin-bottom: .5rem;
    }

    &__description {
        margin-bottom: 2rem;
    }

    &__techs {
        display: flex;
        margin-bottom: 3rem;
        list-style: none;

        & li {
            padding: .7rem;
            color: $color-grey-dark-2;
            border: thin solid $color-grey;
            border-radius: 5px;
        }

        & li:not(:last-child) {
            margin-right: .5rem;
        }
    }

    &__links {
        display: flex;
        justify-content: flex-end;
    }

    &__git {
        border: thin solid $color-grey-dark-2;
        padding: 1rem 1.5rem;
        margin-right: 1rem;
        border-radius: 3px;
        background-color: $color-grey-dark-2;
        color: $color-grey-light;


        & i{
            margin-left: 1rem;
            transition: all .3s;
        }

        &:hover i {
            transform: scale(1.3);
        }
    }

    &__url {
        padding: 1rem 1.5rem;
        border-radius: 3px;
        background-color: #c4302b;
        color: $color-white;

        & i{
            margin-left: 1rem;
            transition: all .3s;
        }

        &:hover i {
            transform: scale(1.3);
        }
    }
}

