.navbar {
    height: 6rem;
    width: 100%;
    background-color: $color-grey-dark;
    border-bottom: 5px solid $color-primary;

    &--sticky {
        position: fixed;
        top: 0;
        z-index: 100;
    }

    &__container {
        height: 100%;
        max-width: $grid-width;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__brand {
        padding: 1rem 0;
        display: flex;
        height: 100%;
        font-size: 1.7rem;
        color: $color-primary;
        font-family: $montserrat-font;
        text-decoration: none;
        align-items: center;
        
        & img{
            height: 100%;
            margin-right: 1rem;
        }
    }

    &__toggler {
        display: none;
        background-color: transparent;
        color: $color-white;
        border: none;
        font-size: 2.6rem;
    }

    &__collapse {
        height: 100%;
    }

    &__nav {
        display: flex;
        list-style: none;
        height: 100%;
    }

    &__item {
        height: 100%;
        padding: 0 1rem;
        color: $color-white;
        font-family: $raleway-font;
        transition: all .3s;
        cursor: pointer;

        &--active {
            background-color: $color-primary;
            color: $color-grey-dark;
        }

        &:hover {
            background-color: $color-primary-dark;
            color: $color-grey-dark;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;
        color: inherit;
        font-size: 1.4rem;
        font-weight: 300;
    }
}