.projects {

    &__bar {
        display: flex;
        justify-content: center;
        flex: 0 0 80%;
        height: 5rem;
    }

    &__filters {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 3.5rem;
        text-transform: uppercase;
        font-size: 1.8rem;
        transition: all .2s;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: $color-primary-light;
            color: $color-grey-dark-2;
        }

        &:not(:last-child) {
            margin-right: 1.5rem;
        }

        &--active {
            background-color: $color-primary;
            color: $color-grey-dark-2;
        }
    }

    &__container {
        margin: 0 auto;
        margin-top: 2rem;
        height: auto;
        width: 100%;
    }

    &__item {
        position: relative;
        width: 33%;
        margin-bottom: .2rem;
        height: 30rem;
        overflow: hidden;
        margin-left: .2rem;


        & img {
            height: 100%;
        }

        &--selected {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            background-color: $color-grey-dark;
            cursor: pointer;
            outline: 2px dotted $color-primary;
            outline-offset: -2rem;
            transition: opacity .3s;

            & h4 {
                font-size: 2.4rem;
                margin-bottom: 2rem;
                transform: translateY(-100%);
                opacity: 0;
                transition: transform .4s, opacity .2s;
            }

            & span {
                transform: translateY(100%);
                opacity: 0;
                transition: transform .4s, opacity .2s;
            }
        }

        &:hover &--selected {
            opacity: .8;
            color: $color-primary;

            & h4 {
                transform: translateY(0);
                opacity: 1;
            }

            & span {
                transform: translateY(0);
                opacity: 1;
            }            
        }
    }
    
    &__sizer {
        width: 8.333%;
    }
}