.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 6rem 2.5rem 0rem;

    @include respond(tab-port) {
        padding: 2.5rem 0;
    }

    &__bar {
        height: 2.8rem;
        background-color: $color-grey-light;
        display: flex;
        align-items: center;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        background-color: $color-secondary;
        color: $color-white;
        height: 100%;
        width: 11rem;
    }

    &__contain {
        display: flex;
        flex: 1;
        height: 100%;
        position: relative;

        &-fill {
            height: 100%;
            flex: 0 0 80%;
            background-color: $color-secondary-dark;
        }

        &::after {
            content: attr(data-fill);
            position: absolute;
            right: 1rem;
            top: .5rem;
        }
    }
}