.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: $grid-width;
    justify-content: center;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    @include respond(tab-land) {
        padding: 0 3rem;
    }

    @include respond(tab-port) {
        &:not(:last-child) {
            margin-bottom: 0;
        }

        max-width: 60rem;
        margin-bottom: $gutter-vertical-small;
    }

    @include respond(phone-port) {
        margin-bottom: 2rem;
    }

    [class^="col-"] {
         float: left;
        
        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }

        @include respond(tab-port) {
            &:not(:last-child) {
                margin-right: 0;
            }

            width: 100% !important;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - #{$gutter-horizontal} * 2) / 3);
    }

    .col-2-of-3 {
        width: calc(2 * ((100% - #{$gutter-horizontal} * 2)/ 3) + #{$gutter-horizontal});
    }

    .col-1-of-4 {
        width: calc((100% - #{$gutter-horizontal} * 3) / 4);
    }

    .col-2-of-4 {
        width: calc(((100% - #{$gutter-horizontal} * 3) / 4) * 2 + #{$gutter-horizontal});
    }

    .col-3-of-4 {
        width: calc(((100% - #{$gutter-horizontal} * 3) / 4) * 3 + 2 * #{$gutter-horizontal});
    }
}