.header {
    height: 100vh;
    // background-color: $color-grey-dark-2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba($color-grey-dark, .85), rgba($color-grey-dark, .95)), url('/assets/img/header_back.jpeg') no-repeat;
    background-size: cover;
    
    &__particles {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__blog {
        color: $color-grey-light;
        position: absolute;
        top: 4rem;
        left: 6rem;
        transform: translateY(25%);
        padding: 1rem 2rem;
        border-radius: 20px;
        border: thin solid $color-grey-light;
        transition: all .3s ease;
        cursor: pointer;
        z-index: 2;

        &:hover {
            border: thin solid $color-primary;
            background-color: $color-primary;
            color: $color-grey-dark-2;
            transform: scale(1.1);
        }
    }

    &__menu {
        position: absolute;
        top: 4rem;
        right: 6rem;
        width: 6rem;
        height: 6rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 2;

        @include respond(phone) {
            top: 2rem;
            right: 3rem;
        }

        &__btn {
            position: relative;
            width: 3rem;
        
            &,
            &::before,
            &::after {
                height: 2px;
                display: inline-block;
                transition: width .2s;
                background-color: $color-white;
            }
            &::before {
                content: "";
                width: 2rem;
                position: absolute;
                left: 0;
                top: -.8rem;
            }
            &::after {
                content: "";
                position: absolute;
                left: 0;
                width: 1.8rem;
                top: .8rem;
            }
        }

        &:hover &__btn::before,
        &:hover &__btn::after {
            width: 3rem;
        }
    }

    &__box {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__btn {
        margin-top: 5rem;
        padding: 1.5em 4rem;
        border: 3px solid $color-white;
        background-color: transparent;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.8rem;
        color: $color-white;
        transition: all .3s ease;
        cursor: pointer;
        &:hover {
            background-color: $color-primary;
            color: $color-grey-dark;
            border: 3px solid $color-primary;
        }
        & i {
            font-size: 2.6rem;
            vertical-align: bottom;
            margin-left: 1rem;
            transition: transform .3s ease;

            @include respond(phone-port) {
                font-size: 2rem;
            }            
        }
        &:hover i {
            transform: rotate(90deg);
        }

        @include respond(phone-port) {
            padding: 1rem 2.5rem;
            border: 2px solid $color-white;
            margin-top: 4rem;
            font-size: 1.6rem;
        }
    }
}