.header {
    height: 100vh;
    // background-color: $color-grey-dark-2;
    display: flex;
    align-items: center;
    justify-content: center;

    &__particles {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-image: linear-gradient(to bottom left, $color-grey-dark, $color-grey-dark-2);
    }

    &__menu {
        position: absolute;
        top: 4rem;
        right: 6rem;
        width: 6rem;
        height: 6rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 2;

        &__btn {
            position: relative;
            width: 3rem;
        
            &,
            &::before,
            &::after {
                height: 2px;
                display: inline-block;
                transition: width .2s;
                background-color: $color-white;
            }
            &::before {
                content: "";
                width: 2rem;
                position: absolute;
                left: 0;
                top: -.8rem;
            }
            &::after {
                content: "";
                position: absolute;
                left: 0;
                width: 1.8rem;
                top: .8rem;
            }
        }

        &:hover &__btn::before,
        &:hover &__btn::after {
            width: 3rem;
        }
    }

    &__box {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__btn {
        margin-top: 5rem;
        padding: 1.5em 4rem;
        border: 3px solid $color-white;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.8rem;
        color: $color-white;
        transition: all .3s ease;
        &:hover {
            background-color: $color-primary;
            color: $color-grey-dark;
            border: 3px solid $color-primary;
        }
        & i {
            font-size: 2.6rem;
            vertical-align: bottom;
            margin-left: 1rem;
            transition: transform .3s ease;
        }
        &:hover i {
            transform: rotate(90deg);
        }
    }
}