*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Defines 1rem is (default 16px)
    font-size: 62.5%; // 1rem = 10px; 10/16 = 62.5%
}

body {  
    box-sizing: border-box;
}

::selection {
    background-color: $color-primary;
    color: $color-grey-dark;
}
