body {
    font-family: $raleway-font;
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-grey;
}

.heading-primary{
    font-family: $montserrat-font;
    font-size: 4rem;
    font-weight: 400;

    &--main {
        color: $color-white;
    }

    &--highlight {
        color: $color-primary;
    }

    &--nav {
        color: $color-grey-dark-2;
    }

    @include respond(phone-port) {
        font-size: 2.6rem;
    }
}

.heading-secondary {
    font-family: $montserrat-font;
    font-size: 3.5rem;
    color: $color-grey-dark-2;

    &--contact {
        color: $color-white;
    }

    @include respond(phone-port) {
        font-size: 2.8rem;
    }
}

.heading-tertiary {
    font-family: $raleway-font;
    font-size: 2.2rem;
    font-weight: 700;
    color: $color-grey;
}