@import 'abstract/variables';
@import 'abstract/mixins';

@import 'base/animation';
@import 'base/base';
@import 'base/typography';

@import 'components/header-bar';
@import 'components/card';
@import 'components/navbar';
@import 'components/profile';
@import 'components/skills';

@import 'layout/grid';
@import 'layout/header';
@import 'layout/navigation';

@import 'pages/home';